
@{
    ViewBag.Title = "ContactUs";
}
<nav>
    <ul>
        <li>@Html.ActionLink("Home Page", "Index", "Home")</li>
        <li>@Html.ActionLink("About Us Page", "AboutUs", "Home")</li>
        <li>@Html.ActionLink("Contact Us Page", "ContactUs", "Home")</li>
    </ul>
</nav>
<h2>Contact Us</h2>
<h3>THIS IS CONTACTUS PAGE</h3>
